.d-flex {
    display: flex;
}

.dn {
    display: none;
}

.flex-column {
    flex-direction: column;
}

a {
    text-decoration: none;

}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 80px auto;
} 
.full-container {
    width: 100%;
    max-width: 1170px;
    margin: 80px auto;
} 
.full-width-container {
    width: 100%;
    margin: 80px auto;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $cyntho-next-semibold;
    border: none;
    border-radius: 5px;
    color: #FFF;
    text-transform: uppercase;
    background: var(--primary-color);

    transition: 300ms;

    &:hover {
        cursor: pointer;
        background: var(--active-primary-color);
    }
}

.button-primary {
    padding: 15px 20px;
}

.title {
    margin: 15px 0;
    color: var(--title-color);
    font-family: $cyntho-next-regular;
    font-size: 26px;
}

.subtitle {
    font-family: $cyntho-next-light;
    max-width: 400px;
    margin: 15px auto;
}

.text {

}

.text-regular {
    font-family: $cyntho-next-regular;
}

.text-light {
    font-family: $cyntho-next-light;
}

.text-center {
    text-align: center;
}

.m0-auto {
    margin: 0 auto;
}

.pt20 {
    padding-top: 20px !important;
}

.fw-100 {
    font-weight: 100 !important;
}

.primary-bg {
    background-color: var(--primary-color) !important;
}

.color-white {
    color: #FFF !important;
}

.min-h-100 {
    min-height: 211px;
}

.mat-body p, .mat-body-1 p, .mat-typography p {
    margin-bottom: 0;
}

h3.sign-auth-form__title {
    font-size: calc(15px + 1.3vw);
    font-weight: 700;
    color: var(--white);
}

.sign-auth-form__body {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
}

.sign-auth-form__field {
    padding: 3px 45px;
    padding-left: 20px;
    background: var(--black);
}

.sign-auth-form__field_first-child {
    padding-top: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.sign-auth-form__field_last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sign-auth-form__field .mat-icon {
    color: #a79f9f;
}

.sign-auth-form__field .mat-form-field-label {
    color: #a79f9f;
}

.sign-auth-form__hint-wrapper {
    position: absolute;
    top: calc(100% - 15px);
}

.sign-auth-form__hint {
    padding: 5px 10px;
    color: #a79f9f; 

    a {
        text-decoration: none;
        color: #a95656;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.valid-auth-form::after {
    border-top-color: #ca2020;
}

.auth-page-style {
    height: 100vh;
    background-color: var(--primary-black) !important;

    .header-admin-page {
        color: var(--white);
    }

    .primary-black, .header-admin-page {
        background-color: var(--primary-black) !important;
    }
}

.primary-black {
    background-color: var(--primary-black);
}

.sign-auth-form__submit-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    width: 70px;
    height: 70px;
    transform: translate(50%, -50%);
    background: var(--primary-black);
    border-radius: 100%;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: calc(50% - 1.5px);
        border-radius: 5px;
        right: 60px;
        width: 295px;
        height: 3px;
        z-index: 2;
        background: var(--primary-black);
    }


}

.sign-auth-form__field .sign-auth-form__input {
    color: #FFF;
}

.sign-auth-form__submit {
    display: none;
}
.sign-auth-form__submit-trigger {
    position: relative;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    background: var(--black);
    border-radius: 100%;
    cursor: pointer;
    z-index: 2;
}

.sign-auth-form__submit_triangle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::after {
        content: "";
        top: 50%;
        left: calc(50% - 2px);
        position: absolute;
        border: 10px solid transparent;
        border-top: 10px solid var(--primary-black);
        transform: rotate(-90deg) translate(50%, 0);

        transition: 300ms;
    }
}


.valid-auth-form {
    color: #16981a;

    &::before {
        border-top-color: #16981a !important; // Show borders
        border-right-color: #16981a !important;
        border-bottom-color: #16981a !important;
    }
    &::after {
        border-top: 2px solid #16981a !important; // Shows border
        border-left-width: 2px !important; // Solid edges, invisible borders
        border-right-width: 2px !important; // Solid edges, invisible borders
        transform: rotate(270deg); // Rotate around circle
    }

    .sign-auth-form__submit_triangle::after {
        border-top: 10px solid #16981a;
    }
}


.sign-auth-form__submit-trigger {
    border-radius: 100%;
    box-shadow: none;

    &::before,
    &::after {
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 100%;
    }

    &::before {
        border: 2px solid transparent; // We're animating border-color again

        transition:
            border-top-color 0.15s linear, // Stagger border appearances
            border-right-color 0.15s linear 0.10s,
            border-bottom-color 0.15s linear 0.20s;
    }
    &::after {
        border: 0 solid transparent; // Makes border thinner at the edges? I forgot what I was doing

        transition:
            transform 0.4s linear 0s,
            border-left-width 0s linear 0.35s; // Solid edge post-rotation
    }
  
}

.weight {
    font-family: var(--text-font);
}

.weight-title {
    font-size: 20px;
    color: #383838;
}

.weight-text {
    font-size: 26px;
    margin-left: 5px;
}

.price {
    margin: 15px 0;
    font-size: 30px;
    font-family: var(--font-semibold);
    color: var(--primary-color);
}

.single-product__flow-category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 0;
    line-height: 26px;
}

.related-products__text {
    font-size: 30px;
    display: flex;
    margin: 15px 0;
}

.mat-footer-cell .button__remove-all {
    margin-left: 15px;
}