.reviews-clients {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 90px;

    .reviews-clients-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 804px;
        height: 475px;
        box-sizing: border-box;

        @media (max-width: 800px) {
            padding: 0 $padding-low-screen;
        }

        .header-reviews {
            font-family: $cyntho-next-regular;
            font-size: 26px;
            color: $main-text-color;
            text-align: center;
        }

        .reviews-block {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            max-width: 746px;
            height: 289px;
            border-radius: 5px;
            box-shadow: 0px 0px 15px rgba(163, 163, 163, 0.25);

            .review-block-slider {
                overflow: hidden;

                .review-block-wrapper {
                    display: flex;
                    position: relative;
                    right: 0;
                    scroll-snap-type: x mandatory;
                    
                    transition: all 350ms;
    
                    .review-block {
                        display: flex;
                        flex: 100% 1 0;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        width: 100%;
                        max-width: calc(100% - 40px);
                        height: 251px;
                        padding: 20px;
                        margin: 20px;
                        box-sizing: border-box;
                        border-radius: 5px;
                        border: 1px solid rgba(244, 161, 123, 0.29);
        
                        .review-text {
                            width: 100%;
                            max-width: 578px;
                            font-family: $cyntho-next-light;
                            font-size: 14px;
                            color: $main-text-color;
                            text-align: center;
                        }
                        
                        .author-review {
                            margin-bottom: 6px;
                            font-family: $cyntho-next-medium;
                            font-size: 14px;
                            color: $main-text-color;
                            text-align: center;
                        }
        
                        .rating {
                            display: flex;
                        }
                    }
                }
            }
        }


        .buttons-block {
            display: flex;

            .button-primary {
                @extend %button-primary1;
                width: 197px;
                height: 51px;
            }
            .button {
                @extend %button;
                margin-left: 16px;
            }

            .button-primary:hover {
                cursor: pointer;
                background-color: $active-color;
            }

            .button:hover {
                cursor: pointer;
            }
        }

        
    }

    @media (max-width: 805px) {
        .custom-left-arrow-container {
            top: calc(100% - 22px) !important;
            left: calc(50% - 44px - 4px) !important;
        }
        .custom-right-arrow-container {
            top: calc(100% - 22px) !important;
            right: calc(50% - 44px - 4px) !important;
        }
    }
    @media (max-width: 450px) {
        .reviews-clients-container {
            height: 346px !important;
        }
        .header-reviews {
            font-size: 20px !important;
        }
        .reviews-block {
            width: 290px !important;
            height: 218px !important;
        }
        .review-block {
            width: 270px !important;
            height: 197px !important;

            .review-text {
                max-width: 234px !important;
                font-size: 10px !important;
            }
        }
        .custom-left-arrow-container, .custom-right-arrow-container {
            padding: 14px !important;
            top: calc(100% - 15px) !important;

            span {
                width: 6px !important;
                height: 6px !important;
            }
        }
        .custom-left-arrow-container {
            left: calc(50% - 28px - 4px) !important;
        }
        .custom-right-arrow-container {
            right: calc(50% - 28px - 4px) !important;
        }

        .button-primary {
            width: 150px !important;
            height: 38px !important;
            font-size: 10px !important;
        }
        .button {
            width: 133px !important;
            height: 38px !important;
            margin-left: 10px !important;
            font-size: 10px !important;
        }
    }
}

.review-modal-window-container {
    border: 1px #d2d2d2 solid;
}

.swiper-button-next {
    position: absolute;
    right: 0;
    padding: 22px;
    border-radius: 100%;
    background-color: $title-passive-color;

    &::after {
        content: '';
        position: absolute;
        top: calc(50% - 6px);
        right: calc(50% - 5px);
        width: 10px;
        height: 10px;
        transform: rotate(-135deg);
        border-left: 2px white solid;
        border-bottom: 2px white solid;
    }
}
.swiper-button-prev {
    position: absolute;
    left: 0;
    padding: 22px;
    border-radius: 100%;
    background-color: $title-passive-color;

    &::after {
        content: '';
        position: absolute;
        top: calc(50% - 6px);
        left: calc(50% - 5px);
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        border-left: 2px white solid;
        border-bottom: 2px white solid;
    }
}

.review-modal__error {
    margin: 10px auto;
    text-align: center;
    margin-top: 30px;
}

.review-form__rating {
    padding: 0 15px;
}

.review-form__title {
    margin-right: 5px;
}

.review-form__rating-img {
    background-image: url(/assets/images/passive-rating-img.png);   
    background-repeat: no-repeat;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    background-position: center;
    padding: 7px;

    &:hover {
        cursor: pointer;
    }
}

.review-form__rating-img_hovered {
    background-image: url(/assets/images/rating-img.png) !important;
}