$content-width: 1169px;
$active-color: #F1813D;
$title-passive-color: #F4A17B;
$main-text-color: #383838;
$padding-low-screen: 15px;


:root {
    //colors
    --black: #1C1E21;
    --light-gray: #F4F6F9;
    --gray: #656666;
    --primary-black: #34383D;
    --white: #FFF;
    --admin-panel-bg: #eee;
    --title-color: #383838;
    --primary-color: #F4A17B;
    --active-primary-color: #F1813D;
    --single-product-bg: #EEE;
    //fonts
    --font-regular: 'Cyntho Next Regular';
    --font-semibold: 'Cyntho Next SemiBold';
    --text-font: 'Cyntho Next';
}

/* Shared classes */
.showBurgerMenu {
    width: 235px !important;
    border: 1px black solid;
}
.top-line__Burger-menu {
    &::after {
        transform: translateY(12.5px) rotate(45deg);
    }
}
.middle-line__Burger-menu {
    &::after {
        opacity: 0;
    }
}
.bottom-line__Burger-menu {
    &::after {
        transform: translateY(-12.5px) rotate(-45deg);
    }
}

/* Fonts Block */
@font-face {
    font-family: 'Cyntho Next bold';
    src: url('../fonts/CynthoNext-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Cyntho Next';
    src: url('../fonts/CynthoPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cyntho Next light';
    src: url('../fonts/CynthoNext-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Cyntho Next Medium';
    src: url('../fonts/CynthoNext-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

$cyntho-next-regular: 'Cyntho Next Regular';
$cyntho-next-bold: 'Cyntho Next bold';
$cyntho-next-semibold: 'Cyntho Next SemiBold';
$cyntho-next-normal: 'Cyntho Next';
$cyntho-next-light: 'Cyntho Next light';
$cyntho-next-medium: 'Cyntho Next medium';
