<!-- Modal window Begin -->

<section class="modal-window">
    <div class="modal-window-field"></div>
    
    <!-- Review Modal window Begin -->
    <div class="review-modal-window-container">
        <div class="review-modal-window-form">

            <div class="modal-window-button-close">
                <span class="left-side-close-button"></span>
                <span class="right-side-close-button"></span>
            </div>

            <h2 class="review-title">Оставьте ваш отзыв:</h2>
            <div class="review-form">
                <div class="name-review-form element-review-form">
                    <div class="left-side-review-form">
                        <span>Ваше имя:</span>
                    </div>
                    <div class="right-side-review-form">
                        <input type="text">
                    </div>
                </div>
                <div class="email-review-form element-review-form">
                    <div class="left-side-review-form">
                        <span>Ваш email:</span>
                    </div>
                    <div class="right-side-review-form">
                        <input type="text">
                    </div>
                </div>
                <div class="product-review-form element-review-form">

                </div>

                <div class="submit-review-form"></div>
            </div>
        </div>
    </div>
    <!-- Review Modal window Close -->
</section>

<!-- Modal window Close -->

<!-- Modal Message Begin -->
    <div class="modal-messages-container">
    </div>

<!-- Modal Message Close -->

<div style="display: flex;">
<section class="left-side-admin-panel-container">
    <div class="left-side-admin-panel">
        <div class="header-block-admin-panel">
            <div class="header-content">
                <img src="" alt="" class="img-user-admin-panel">
                <p class="user-info-admin-panel"></p>
            </div>
        </div>
        <div class="admin-menu-items-container">
    
            <div class="search-admin-menu-items">
                <!-- <mat-form-field class="amin-search">
                    <mat-label>Поиск</mat-label>
                </mat-form-field> -->
            </div>
    
            <ul class="admin-menu-items-wrapper">
                <li class="admin-menu-item" routerLink="/admin-panel" routerLinkActive="active-admin-page" [routerLinkActiveOptions]="{exact:true}">
                    <div class="hor-centering-elems">
                        <mat-icon aria-hidden="false" aria-label="home-icon">home</mat-icon>
                        <span>Главная</span>
                    </div>
                </li>
                <li class="admin-menu-item" routerLink="/admin-panel/catalog" routerLinkActive="active-admin-page">
                    <div class="hor-centering-elems">
                        <mat-icon aria-hidden="false" aria-label="apps-icon">apps</mat-icon>
                        <span>Мой каталог</span>
                    </div>
                </li>
                <li class="admin-menu-item" routerLink="/admin-panel/create-product" routerLinkActive="active-admin-page">
                    <div class="hor-centering-elems">
                        <mat-icon aria-hidden="false" aria-label="create-icon">add_box</mat-icon>
                        <span>Создать товар</span>
                    </div>
                </li>
                <li class="admin-menu-item" routerLink="/admin-panel/analytics" routerLinkActive="active-admin-page">
                    <div class="hor-centering-elems">
                        <mat-icon aria-hidden="false" aria-label="analytics-icon">timeline</mat-icon>
                        <span>Аналитика</span>
                    </div>
                </li>
                <li class="admin-menu-item" routerLink="/admin-panel/settings" routerLinkActive="active-admin-page">
                    <div class="hor-centering-elems">
                        <mat-icon aria-hidden="false" aria-label="settings-icon">settings</mat-icon>
                        <span>Настройки</span>
                    </div>
                </li>
                <li class="admin-menu-item" routerLink="/">
                    <div class="hor-centering-elems">
                        <mat-icon aria-hidden="false" aria-label="first-page-icon">first_page</mat-icon>
                        <span>Назад</span>
                    </div>
                </li>
                <li class="admin-menu-item" routerLink="/" (click)="logout()">
                    <div class="hor-centering-elems">
                        <mat-icon aria-hidden="false" aria-label="first-page-icon">first_page</mat-icon>
                        <span>Выйти</span>
                    </div>
                </li>
                <!-- <li class="admin-menu-item" routerLink="/" (click)="logoutAll()">
                    <div class="hor-centering-elems">
                        <mat-icon aria-hidden="false" aria-label="first-page-icon">first_page</mat-icon>
                        <span>Выйти со всех устройств</span>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</section>

<section class="right-side-admin-panel" [ngClass]="{'auth-page-style': isAuthPage}">
    <div class="header-admin-page">
        <div class="header-admin-page__container">
            <h1 class="header-admin-page_title">{{titlePage}}</h1>

            <div class="breadcrumb-nav">
                <div class="breadcrumb-nav__content">
                    <p class="breadcrumb-nav__element">Bread / </p>
                    <p class="breadcrumb-nav__element"> Crumb</p>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</section>

</div>