<!-- Modal Message Begin -->
    <div class="modal-messages-container">
    </div>

<!-- Modal Message Close -->


<app-header></app-header>

<router-outlet></router-outlet>


<section class="footer">
    <div class="footer-container">
        <img class="brand-logo" src="/assets/images/white-brand-logo.png" alt="brand logo">
        <div class="footer-menu">
            <a>Меню</a>
            <a>Магазин</a>
            <a>Доставка</a>
            <a>Партнерам</a>
            <a>Контакты</a>
        </div>

        <div class="instagram-logo">
            <img src="/assets/images/white-instagram-logo-outside.png" class="instagram-logo-outside">
            <img src="/assets/images/white-instagram-logo-inside.png" class="instagram-logo-inside">
            <span class="instagram-logo-dot"></span>
        </div>

        <div class="contacts-block">
            <div class="left-side-block">
                <!-- <p>
                    ООО "Метаркоф" УНП 193230335 Зарегистрирован Минским Горисполкомом
                    Регистрационный номер в торговом реестре 353939 от 03.10.2016
                    220025 Есенина 23-1-145
                </p> -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing.
                </p>
                <p>
                    Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div class="right-side-block">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam magnam libero quasi, amet cupiditate iusto.
                </p>
            </div>
        </div>
    </div> 
</section>


<div class="shadow-block"></div>