.modal-messages-container {
    position: fixed;
    right: 10%;
    top: 20%;
    font-family: $cyntho-next-semibold;
    z-index: 31;

    .modal-message {
        display: flex;
        justify-content: center;
        position: relative;
        min-width: 160px;
        max-width: 220px;
        padding: 15px 13px;
        margin-top: 15px;
        text-align: center;
        font-size: 18px;
        color: #FFF;
        cursor: pointer;
        border-radius: 10px;
        background: #c16f49;
        z-index: 31;

        animation-name: addToModalList;
        animation-duration: 500ms;
    }

    @keyframes addToModalList {
        from {
            left: 60px;
        }

        to {
            left: 0;
        }
    }
}

.hiddenModalMessage {
    animation-name: removeFromModalList !important;
    animation-duration: 300ms;
}

@keyframes removeFromModalList {
    from {
        left: 0;
        opacity: 1;
    }

    to {
        left: 60px;
        opacity: 0;
    }
}