@font-face {
    font-family: 'Cyntho Next bold';
    src: url('/client/src/assets/fonts/CynthoNext-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Cyntho Next';
    src: url('/client/src/assets/fonts/CynthoPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cyntho Next light';
    src: url('/client/src/assets/fonts/CynthoNext-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Cyntho Next Medium';
    src: url('/client/src/assets/fonts/CynthoNext-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}