/* .admin-panel-content-container {
    height: 100%;
    width: 100%;
}

.product-form {

}

.product-form__header {

}

.product-form__title {

}

.body-block {

}

.left-side-block {

}

.right-side-block {

}

.right-side-block__wrap {

}

.right-side-block__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    .mat-form-field {
        width: 250px;
    }

    .mat-form-field-wrapper {
        border-bottom: 3px #dad4d4 double;
    }

    .mat-form-field-outline {
        background-color: #FFF;
        border-radius: 5px;
    }
}

.right-side-block__element {
    margin: 10px 15px;
}

.mat-form-field-wrapper {
    border-bottom: 1px solid ;
}

.name-product {

}

.name-product__input {

}

.cost-product {

}

.cost-product__input {

}

.weight-product {

}

.weight-product__input {

} */