.catalog_wrapper {
    display: flex;
    justify-content: center;
    min-height: 600px;
}

.catalog__item {
    max-width: 180px;
}

.catalog__search {

    .mat-form-field {
        width: 180px;
    }
}
@media (max-width: 500px) {
    .catalog_wrapper {
        display: block;
    }
    .catalog__filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
}

.catalog__filters {

}